<div class="recipeForm">
  <form action="/{{#if recipe}}recipe/{{recipe._id}}/update{{else}}recipes/new{{/if}}" method="POST">
    <input type="text" name='title' class='form-control' placeholder='Recipe title' required autofocus {{#if recipe}}value="{{recipe.title}}"{{/if}}>
    <select name="level">
      <option value="Easy Peasy" {{#ifvalue recipe.level value="Easy Peasy"}}selected{{/ifvalue}}>Easy Peasy</option>
      <option value="Amateur Chef" {{#ifvalue recipe.level value="Amateur Chef"}}selected{{/ifvalue}}>Amateur Chef</option>
      <option value="UltraPro Chef" {{#ifvalue recipe.level value="UltraPro Chef"}}selected{{/ifvalue}}>UltraPro Chef</option>
    </select>
    <input type="text" name='ingredients' class='form-control' placeholder='Ingredients' autofocus value="{{#if recipe}}{{recipe.ingredients}}{{/if}}">
    <input type="text" name='cuisine' class='form-control' placeholder='Cuisine' required autofocus {{#if recipe}}value="{{recipe.cuisine}}"{{/if}}>
    <select name="dishType">
      <option value="Breakfast" {{#ifvalue recipe.dishType value="Breakfast"}}selected{{/ifvalue}}>Breakfast</option>
      <option value="Dish" {{#ifvalue recipe.dishType value="Dish"}}selected{{/ifvalue}}>Dish</option>
      <option value="Snack" {{#ifvalue recipe.dishType value="Snack"}}selected{{/ifvalue}}>Snack</option>
      <option value="Drink" {{#ifvalue recipe.dishType value="Drink"}}selected{{/ifvalue}}>Drink</option>
      <option value="Dessert" {{#ifvalue recipe.dishType value="Dessert"}}selected{{/ifvalue}}>Dessert</option>
      <option value="Other" {{#ifvalue recipe.dishType value="Other"}}selected{{/ifvalue}}>Other</option>
    </select>
    <input type="text" name='image' class='form-control' placeholder='Image url' autofocus {{#if recipe}}value="{{recipe.image}}"{{/if}}>
    <input type="text" name='duration' class='form-control' placeholder='Duration in minutes' autofocus value="{{#if recipe}}{{recipe.duration}}{{else}}0{{/if}}">
    <select name="creator">
      <option {{#unless recipe.creator}}selected{{/unless}} value> -- No creator -- </option>
      {{#each cooks}}
      <option value="{{_id}}" {{#ifvalue recipe.creator value="{{_id}}"}}selected{{/ifvalue}}>{{firstName}} {{lastName}}</option>
      {{/each}}
    </select>
    <button type="submit">{{#if recipe}}Update{{else}}Create{{/if}} recipe</button>
  </form>
</div>
